"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    ignoredNames: [
      "._*"
      ".DS_Store"
      ".git"
      ".hg"
      ".idea"
      ".sass-cache"
      ".settings"
      ".svn"
      "Thumbs.db"
    ]
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
  "tree-view":
    hideIgnoredNames: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  tabs:
