@import url(../../font/league-gothic/league-gothic.css);

/**
 * Blue theme for reveal.js
 * http://lisite.de/portfolios
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
section { height: 650px; }

/*section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: #222;
}*/

body {
  color: #f00;
  background: #1e5496;
  background: url(../img/noise.png) repeat 0 0, -webkit-linear-gradient(#519fd9, #1e5496);
  background: url(../img/noise.png) repeat 0 0,    -moz-linear-gradient(#519fd9, #1e5496);
  background: url(../img/noise.png) repeat 0 0,     -ms-linear-gradient(#519fd9, #1e5496);
  background: url(../img/noise.png) repeat 0 0,         linear-gradient(#519fd9, #1e5496);
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: left;
}

nav a:first-child { margin-left: 16px; }
nav i.fa {
  height: 40px;
  line-height: 40px !important;
  opacity: 0.4;
  font-size: 80% !important;
}
nav i:hover { opacity: 1; }
nav i.fa.fa-heart { font-size: 72% !important; }
nav .controls i.fa {
  height: 33px;
  line-height: 33px !important;
}

.reveal {
  font-family: 'League Gothic', Impact, sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #93a1a1; }

::selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eee8d5;
  font-family: 'League Gothic', Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h2 {
  font-size: 200%;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #41a6ee;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #93a1a1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/* mine */
.avatar {
  display: inline-block;
  background-image: url(../img/avatar_0.png);
  width: 219px;
  height: 292px;
  background-size: 100%;
}
.summary {
  display: inline-block;
  margin-left: 50px !important;
  vertical-align: top !important;
}

.summary h1, .summary h3 { text-align: left; }
.summary h1 { line-height: 1em; font-size: 3.32em; }
.summary h3 { line-height: 0.7em; font-size: 1.45em; text-transform: none; }

.contact-info { text-align: left; margin-top: 30px !important; }
.contact-info > a { margin-left: 16px; }

.skills,
.projects {
  width: 100%;
  text-align: left;
}
.skills li {
  list-style: none;
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 12px;
}
.projects li {
  margin-left: 64px;
  margin-bottom: 12px;
}
.projects li small {
  font-size: 75%;
  margin-left: 16px;
}
.book { display: block; width: 108px; height: 136px; background-size: 100%; }
.book-in-progress { opacity: 0.4; }
.book-in-progress:hover { opacity: 1; }

/* override */
.reveal i.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}

.reveal .controls {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  right: 8px;
  bottom: 0;
}

.reveal .controls > a.enabled {
  display: inline-block;
  color: #268bd2;
  border: solid 1px rgba(23, 120, 189, 0.4);
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  margin-top: -9px;
}
.reveal .controls > a.enabled:hover {
  border: solid 1px rgba(23, 120, 189, 0.4);
  color: #78b9e6;
  border-radius: 4px;
}
.reveal .controls > a:not(.enabled) {
  display: none;
}


/* debug */
section:not(.stack)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: solid 4px rgba(33,33,33,0.2);
  border-left: solid 4px rgba(33,33,33,0.2);
}
