<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} atom feed">

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ ASSET_PATH }}css/style.css" rel="stylesheet" />

    <link rel="shortcut icon" href="{{ ASSET_PATH }}favicon.ico">

    <!-- I need $ everywhere -->
    <script src="{{ ASSET_PATH }}js/vendor/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}js/vendor/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="colorful-top"></div>

    <div class="container navmenu">
      <div id="toggle-menu-wrap">
        <div id="toggle-menu"></div>
        <ul class="nav pull-right">
          <li><a href="{{ BASE_PATH }}/index.html" title="Home"><span class="glyphicon glyphicon-home"></span></a></li>
          <li><a href="{{ BASE_PATH }}/search.html" title="Search"><span class="glyphicon glyphicon-search"></span></a></li>
          <li><a href="{{ BASE_PATH }}/categories.html" title="browse categories"><span class="glyphicon glyphicon-folder-open"></span></a></li>
          <li><a href="{{ BASE_PATH }}/tags.html" title="browse tags"><span class="glyphicon glyphicon-tags"></span></a></li>
          <li><a href="{{ BASE_PATH }}/archive.html" title="browse archive"><span class="glyphicon glyphicon-hdd"></span></a></li>
        </ul>
      </div>
    </div>

    <div class="container">

      <div class="content row">
        {{ content }}
      </div>

      <footer>
        <p>想了未必全说，说了未必全听，听了未必全懂，懂了未必全信，信了未必全做，做了未必全好；所以沟而不通，行而不果。</p>
        <p class="social-icons">
          <a class="zocial icon googleplus" href="http://gplus.to/shuaizhexu" target="_blank"></a>
          <a class="zocial icon linkedin" href="http://www.linkedin.com/in/shuaizhexu" target="_blank"></a>
          <a class="zocial icon github" href="http://github.com/hbrls" target="_blank"></a>
          <a class="zocial icon weibo" href="http://weibo.com/hbrls" target="_blank"></a>
        </p>
        <p>Too Simple, Sometimes Naive. Copyright © 2012 -2015. All Rights Reserved.</p>
      </footer>

    </div> <!-- /container -->

<script>
  var $t = $('#toggle-menu');
  $t.on('click', function () {
    $t.parent().toggleClass('menu-fade-in')
  });
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7072136-9']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>
