<div class="page-header">
  <h2>{{ page.title }} <small>{{ page.tagline }}</small></h2>
</div>

<div class="col-md-8">
  <div class="post-content">{{ content }}</div>
  <hr>
  <ul class="pagination">
  {% if page.previous %}
    <li class="prev">
      <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </li>
  {% else %}
    <li class="prev disabled">
      <a>
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </li>
  {% endif %}

  {% if page.next %}
    <li class="next">
      <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </li>
  {% else %}
    <li class="next disabled">
      <a>
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </li>
  {% endif %}
  </ul>
  <hr>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'shuaishuai'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>

<div class="col-md-4">
  <table class="table">
    <tbody>
      <tr>
        <td><span class="glyphicon glyphicon-calendar" title="Published"></span></td>
        <td>{{ page.date | date: "%B %e, %Y" }}</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-folder-open" title="Category"></span></td>
        <td>
          <a href="{{ BASE_PATH }}/categories.html#{{ page.category }}-ref">
            <span class="label label-primary">{{ page.category }}</span>
          </a>
        </td>
      </tr>
      {% unless page.tags == empty %}
        <tr>
          <td><span class="glyphicon glyphicon-tags" title="Tags"></span></td>
          <td>
            <ul class="tag_box inline">
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
            </ul>
          </td>
        </tr>
      {% endunless %}
      <tr>
        <td></td>
        <td>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- shuaishuai.github.io -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:250px;height:250px"
               data-ad-client="ca-pub-6809418432821220"
               data-ad-slot="7143959794"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </td>
      </tr>
    </tbody>
  </table>
</div>
