/* some styles from http://4lex.cat */
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  background-color: #eee;
}

body {
  font-size: 16px;
  line-height: 170%;
  padding-top: 24px;
  background-image: url('../img/bg_grey.png');
}

blockquote {
  p {
    font-size: 15px;
    line-height: 1.7;
    color: #999;
  }
}

.anchor {
  font-size: 0;
  padding-top: 10px;
  margin-top: -10px;
}
.lowercase {
  text-transform: lowercase
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.15);
}

footer {
  background-image: url('../img/bg_dark.png');
  margin: 0 -20px;
  padding: 50px 0;
  min-height: 80px;
  p {
    text-align: center;
    color: #999999;
    font-size: 17px;
    text-shadow: 0px 1px 1px #000;
  }
}

.affix { top: 20px; }

.aboutme {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #99AE6D;
  padding-left: 6px;
  &:first-child {
    line-height: 28px;
    color: #D27239;
  }
}

.redirect-portfolios, .redirect-portfolios:hover {
  color: #aaa;
}

.social-icons > a {
  font-size: 12px;
}
